html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-size: 2em;
}

button {
  font-size: 1.5em;

  width: 10em;
  margin: 10px;
  padding: 10px;

  cursor: pointer;

  border-radius: 5px;
  border: 1px solid #999999;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}


.container-column, .container-row {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 95%;
  margin: 20px;
  padding: 10px;
}

.container-column {
  flex-direction: column;
}

.container-row {
  flex-direction: row;
}