html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-size: 2em;
}

button {
  font-size: 1.5em;

  margin: 10px;
  padding: 10px;

  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}