.note {
  padding: 15px;
  margin: 15px;
  width: 100%;

  background-color: #d9d9d9;
}

.noteContent {
  font-size: 2em;
  margin: 0 10px;

  width: 95%;
  height: auto;
  min-height: 100px;

  word-break: break-word;
}

a.noteDate {
  font-size: 2em;
}

.noteDate {
  padding: 15px;
}

.removeButton {
  background-color: #c30d0d;
  color: white;
}

.goBackButton {
  font-size: 2em;
  padding: 15px;

}